{
    "rules": {
        "no-inner-declarations": 0,
        "no-var": 1,
        "comma-dangle": 1,
        "indent": [
            0,
            4
        ],
        "no-console": 1,
        "no-unused-vars": 1,
        "quotes": [
            0,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            1,
            "always"
        ],
        "react/jsx-no-undef": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": [2, "disallow-in-func"],
        "react/no-direct-mutation-state": 1,
        "react/no-unknown-property": 2,
        "react/prefer-es6-class": 1,
        "react/react-in-jsx-scope": 2
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "modules": true,
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ]
}
